<div class="form-row justify-content-md-center">
    <div class="col-sm-12">
        <div class="card mx-auto" id="blogCard">
            <div class="card-header" id="blogCardHeader">
                <h2>{{{title}}}</h2>
                <br />
                <p>written by {{{user.name}}} on {{{format_date date_created}}}.</p>
                <p id="bId" style="display: none;">{{{id}}}</p>
            </div>
            <div class="card-body" id="blogCardBody">
                <p>{{{text}}}</p>
            </div>
            <div class="card-footer" id="blogCardFooter">
                {{#if loggedIn}}
                <div class="form-group col-sm-10">
                    <button type="click" class="btn btn-primary" data-toggle="modal" data-target="#commentModal"
                        id="commentBtn">COMMENT</button>
                </div>
                <div class="form-group col-sm-10">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#editModal"
                        id="editBtn">EDIT</button>
                </div>
                <div class="form-group col-sm-10">
                    <button type="button" class="btn btn-danger" id="deleteBtn">DELETE</button>
                </div>
                {{else}}
                <p>Please log in to comment, edit or delete.</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>

{{#if comments.length}}


<div class="form-row justify-content-md-center">
    <div class="col-sm-12">
        <div class="card mx-auto" id="commentCard">
            <div class="card-header" id="commentCardHeader">
                <h2>Comments found: {{{comments.length}}}</h2>
            </div>
            <div class="card-body" id="commentCardBody">
                {{#each comments as |comment|}}
                <div id="commentDiv">
                    <p>
                        By {{{comment.user.name}}} , on {{{format_date comment.date_created}}}
                    </p>
                    <br />
                    <p>
                        {{{comment.comment_text}}}
                    </p>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
{{else}}
<div class="form-row justify-content-md-center">
    <div class="col-sm-12">
        <div class="card mx-auto" id="blogCard">
            <div class="card-body" id="blogCardHeader">
                <h3>No comments so far.</h3>
            </div>
        </div>
    </div>
</div>
{{/if}}


<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalTitle">Comment </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="modalCommentText" style="width: 100%;" rows="6"
                    placeholder="Your comments here ..."></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    id="cancelCommentBtn">Cancel</button>
                <button type="button" class="btn btn-primary" id="saveCommentBtn" data-dismiss="modal">Save
                    changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalTitle">{{{user.name}}}, edit your blog... </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="editModalText" style="width: 100%;" rows="6">{{{text}}}</textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelEditBtn">Cancel</button>
                <button type="button" class="btn btn-primary" id="saveEditBtn" data-dismiss="modal">Save
                    changes</button>
            </div>
        </div>
    </div>
</div>

<script src="../js/blog.js"></script>