<div class="row justify-content-md-center">
    <div class="col-sm-8" id="welcomeTitle">
        <h2> Welcome, {{name}}!</h2>
    </div>
    <br />
    <div class="col-sm-8">
        <div class="card mx-auto">
            <div class="btn" type="button" id="newBlogBtn">Start New Blog</div>
        </div>
    </div>
    <br />
    <div class="col-sm-8" id="blogScroller">


        {{#if blogs.length}}

        {{#each blogs as |blog|}}

        <div class="col-sm-12">
            <div class="row justify-content-md-center">
                <div class="card mx-auto" id="blogDashboardCards">
                    <a href="/blog/{{id}}">
                        <div class="card-header">
                            <p><span>
                                    <h3>{{{blog.title}}}</h3>
                                </span> by You on {{format_date blog.date_created}}</p>
                        </div>
                        <div class="card-body">
                            <p>{{blog.text}}</p>
                        </div>
                        <div class="card-footer">
                            <button class="btn-success" style="float: right;" type="button">EDIT</button>
                            <button class="btn-danger" style="float: right;" type="button">DELETE</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        {{/each}}

        {{else}}

        <h2 style="margin: 30px">You haven't written any blogs!</h2>

        {{/if}}
    </div>
</div>

<script src="./js/dashboard.js"></script>