<div class="row justify-content-md-center">
    <div class="col-sm-8">
        <div class="card mx-auto">
            <h2> Welcome, {{name}}!</h2>
        </div>
    </div>
    <br />
    <div class="col-sm-8">
        <div class="card mx-auto">
            <div class="btn" type="button" id="newBlogBtn">Start New Blog</div>
        </div>
    </div>
    <br />
    <div class="col-sm-8" id="blogScroller">
        <div class="card mx-auto">
            <a href="/blog/{{id}}">
                <div class="card-header">
                    {{{title}}} {{{date_created}}}
                </div>
                <div class="card-body" id="card-body-preview">
                    <p>{{text}}</p>
                </div>
            </a>
        </div>

        {{#if blogs.length}}

        {{#each blogs as |blog|}}

        <div class="col-sm-8">
            <div class="row justify-content-md-center">
                <div class="card mx-auto">
                    <a href="/blog/{{id}}">
                        <div class="card-header">
                            {{{blog.title}}} {{{blog.date_created}}} Authored by {{{blog.user.name}}} on
                            {{!-- {{format_date blog.date_created}} --}}
                        </div>
                        <div class="card-body">
                            <p>{{blog.text}}</p>>
                            <button class="btn-success" type="button">EDIT</button>
                            <button class="btn-danger" type="button">DELETE</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        {{/each}}

        {{/if}}
    </div>
</div>

<script src="./js/dashboard.js"></script>